{% extends 'layout.html' %}

{% block main %}

<div class="page h-[calc(100vh-74px)] flex space-x-6">
    <div class="space-y-4 w-96 p-4 rounded-2xl bg-slate-100 shadow">
        <h1 class=" text-center text-lg font-bold">Set 1 - Brute-Force Attack</h1>
        <form id="set1_form" class="bg-white p-4 flex flex-col space-y-4 rounded-2xl w-full border" action="{{ url_for('password_cracking.password_crack_post') }}" method="POST">
            <div class="border bg-slate-50 rounded-lg p-3 flex flex-col space-y-2">
                <label for="set1_password">Password</label>
                <input
                        class="rounded-md px-3 py-1.5 border"
                        type="password"
                        id="set1_password"
                        value="{{ set1_password if set1_password != None }}"
                        name="set1_password"
                        pattern="[a-z0-9]{3}"
                        title="Please enter a 3 number / letter(lowercase) / mix password!"
                        required
                />
            </div>
            <div class="flex space-x-4">
                <button class="bg-teal-600 font-bold hover:bg-teal-500 text-white rounded-lg p-2 w-8/12" type="submit">Submit</button>
                <button class="bg-slate-700 font-bold hover:bg-slate-600 text-white rounded-lg p-2 w-5/12" type="button" onclick="clearInput('set1_password', 'set1_message')">Clear</button>
            </div>
        </form>
        {% if set1_message != None %}
          <h1 id="set1_message" class="msg-green">{{ set1_message }}</h1>
        {% endif %}
    </div>
    <div class="space-y-4 w-96 p-4 rounded-2xl bg-slate-100 shadow">
        <h1 class=" text-center text-lg font-bold">Set 2 - Dictionary Attack</h1>
        <form class="bg-white p-4 flex flex-col space-y-4 rounded-2xl w-full border" action="{{ url_for('password_cracking.password_crack_post') }}" method="POST">
            <div class="border bg-slate-50 rounded-lg p-3 flex flex-col space-y-2">
                <label for="set2_password">Password</label>
                <input
                        class="rounded-md px-3 py-1.5 border"
                        type="text"
                        id="set2_password"
                        value="{{ set2_password if set2_password != None }}"
                        name="set2_password"
                        required
                />
            </div>
            <div class="flex space-x-4">
                <button class="bg-teal-600 font-bold hover:bg-teal-500 text-white rounded-lg p-2 w-8/12" type="submit">Submit</button>
                <button class="bg-slate-700 font-bold hover:bg-slate-600 text-white rounded-lg p-2 w-5/12" type="button" onclick="clearInput('set2_password', 'set2_message')">Clear</button>
            </div>
        </form>
        {% if set2_message != "The password None does not exist in the dictionary!" %}
          <h1 id="set2_message" class="{{ set2_message_style }} ">{{ set2_message }}</h1>
        {% endif %}
    </div>

</div>

<script>

    function clearInput(input_id, message_box) {
        document.getElementById(input_id).value = '';
        document.getElementById(message_box).style.display = 'None';
    }

    const set1_input = document.getElementById('set1_password');
    const set2_input = document.getElementById('set2_password');

    set1_input.addEventListener('input', () => { document.getElementById('set1_message').style.display = 'none' });
    set2_input.addEventListener('input', () => { document.getElementById('set2_message').style.display = 'none' });

</script>

{% endblock %}